// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comm-time {
  color: #9eafba;
  font-size: 10px;
}

.comm-name {
  font-size: 16px;
}

.comm-body {
  margin-left: 20px;
}

.comment-body {
  margin: 30px 0;
}
